@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.turn {
	font-family: 'GmarketSansMedium';
	font-size: 20px;
	font-weight : bold;
}

.tour {
	font-family: 'GmarketSansMedium';
	font-size: 1em;
	font-weight : bold;
	color: #fd8201;
}

.hako {
	font-family: 'GmarketSansMedium';
	font-size: 1em;
	font-weight : bold;
	color: #082175;
}

.sf {
	font-family: 'GmarketSansMedium';
	font-size: 1em;
	font-weight : bold;
	color: #d83695;
}

/*.gallery*/
.gallery {
	width: 100%;
	display: block;
	min-height: 100vh;
	background-color: #FFFFFF;
	padding: 0px 0;
}


.gallery .background-cover {
	position: relative;
}

.gallery .background-cover img {
	width: 100%;
	padding: 0px;
}

.gallery .background-text {
	font-family: 'GmarketSansMedium';
	font-weight : bold;
	color: #FFFFFF;
	background-color: #000000;
	font-size: 1em;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate( -50%, -30% );
}


.gallery .gallery-filter {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.gallery .gallery-filter .filter-item {
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
	color: #ff9800;
	border-color: #ff9800;
}

.gallery .gallery-item {
	width: calc(100% / 3);
	padding: 5px;
}

.gallery .gallery-item-inner {
	background-color: #FFFFFF; ///턴수 배경
	padding: 5px 5px 30px 5px; ///시계방향
}



.gallery .gallery-item-inner-event {
	position: relative;
}

.gallery .gallery-item-inner-event img {
	width: 100%;
	padding: 0px;
}

.gallery .day-text {
	font-family: 'GmarketSansMedium';
	padding: 0.5px 3px;
	background-color: #000000;
	color: #ffffff;
	font-size:0.8em;
	text-align: center;
	position: absolute;
	bottom: 5%;
	right: 2%;
}


.gallery .gallery-item.show {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gallery .gallery-item.hide {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {
	.gallery .gallery-item {
		width: calc(100% / 3);
	}
}

@media(max-width: 767px) {
	.gallery .gallery-item {
		width: calc(100% / 3);
	}

	.gallery .gallery-filter .filter-item {
		margin-bottom: 5px;
	}
}